<div class="home-container">
    <header class="header">
        <div class="header-container"></div>
        <div class="wrap">
            <div class="header-logo">
                <div class="logo">
                    <img src="toastbolt.png" alt="logo" width="31" height="30">
                    <div style="padding-left: 8px;">Toasty Weather</div>
                </div>
            </div>
        </div>
    </header>
    <div class="enter-zip-container">
        <div class="enter-zip-section">
            <h2>Your Weekly Forecast</h2>
            <p>Enter your zip code:</p>
            <div class="enter-zipcode">
                <input type="text" id="zipcode" placeholder="Enter zip code" autocomplete="off">
                <button id="btn">Get Weather</button>
            </div>
        </div>
    </div>
</div>